<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
    <title>title</title>
<!--    <script type="text/javascript" src="{{url_for('static', filename='haii.js')}}"></script>-->
</head>
<body>
    <form action="http//localhost:5000/result" method="POST">
        <p>Name <input type="text" name="Name">
        <p>Chemistry <input type="text" name="Chemistry"></p>
        <p>phy <input type="text" name="Phy"></p>
        <p>Math <input type="text" name="Math"></p>
        <p> <input type="Submit" value="submit"></p>
    </form>
</body>
</html>
